* {
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}


header{
    background-color: black;
    padding: 20px;
}

header > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
}

header > p {
    
    padding-top: 20px;
    font-size: 15px;
    text-align: center;
    color: white;
}

a:visited{
    color: white;
}

#primeiro{
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    padding-top: 20px;
    
}

#segundo{
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#segundo > p {
    padding-left: 20px;
    margin-block: 20px 20px;
    display: inline-block;
    background-color:#011200;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#terceiro{
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    padding-top: 20px;
    
}

#quarto > p {
    padding-left: 20px;
    margin-block: 20px 20px;
    display: inline-block;
    background-color:#011200;
    color: white;
    font-weight: bold;
    font-size: 30px;

}

#quarto{
    background-image: url('imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#quinto{
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    padding-top: 20px;
    
}

footer{
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}