@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva , Tahoma , sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3:'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    font-family: var(--fonte1);
    background-color: darkgray;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}


header {
    background-color: black;
    padding: 20px;
}

header > h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-size: 10vw;
    text-align: center;
    color: white;
}

header > p {
    padding-bottom: 50px;
    padding-top: 20px;
    font-size: 15px;
    text-align: center;
    color: white;
}

a:visited {
    color: white;
}

section {
    font-family: var(--fonte3);
    font-size: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

.texto {
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    padding-top: 20px;
    
}

#primeira > p {
    display: inline-block;
    width: 400px;
    padding-left: 20px;
    margin-block: 20px 20px;
    display: inline-block;
    background-color:#011200;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.imagem , #primeira {
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#segunda > p {
    display: inline-block;
    width: 400px;
    padding-left: 20px;
    margin-block: 20px 20px;
    display: inline-block;
    background-color:#01120017;
    color: white;
    font-weight: bold;
    font-size: 30px;

}

.imagem, #segunda {
    background-image: url('imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


footer {
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}